# IDE
.idea
.venv
__pycache__

# Directories
.ruff_cache
.debug
build
dist

# Files
requirements-dev.txt
debugging.py
download_media.py
test_lib.py
upload_to_pypi.py
poetry.lock
tempCodeRunnerFile.py

# Extensions
# ...
